listen k8s-api
    bind *:6443             # เปลี่ยนจาก IP เป็น * เพื่อให้ Start ติดแม้ยังไม่มี VIP
    mode tcp
    option tcp-check
    balance roundrobin
    server master-1 192.168.1.10:6443 check
    server master-2 192.168.1.11:6443 check
    server master-3 192.168.1.12:6443 check

listen k8s-web-http
    bind *:80               # รับ Traffic ทุก IP ที่วิ่งเข้า VM นี้ที่ Port 80
    mode tcp
    balance roundrobin
    server worker-1 192.168.1.20:<NodePort> check
    server worker-2 192.168.1.21:<NodePort> check
    server worker-3 192.168.1.22:<NodePort> check

listen k8s-web-https
    bind *:443              # รับ Traffic ทุก IP ที่วิ่งเข้า VM นี้ที่ Port 443
    mode tcp
    balance roundrobin
    server worker-1 192.168.1.20:<NodePort> check
    server worker-2 192.168.1.21:<NodePort> check
    server worker-3 192.168.1.22:<NodePort> check